html,body {
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Roboto', sans-serif;
    background-color: #0466C8;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

h1 {
    margin-left: 1%;
}

.menu {
    top: 0;
    left: 0;
    overflow: hidden;
    background-color: #0466C8;
    width: 98%;
}

.logo {
    float: left;
}

.navigation a{
    float: right;
    text-decoration: none;
    padding: 10px;
    color: white;
    padding-left: 10px;
    
}

.navigation a:hover {
    color: black;
    background-color: white;
    margin-top: 3px;
    border-radius: 5px; 
}

.menu_footer {
    width: 100%;
    bottom: 0px;
    left: 0px;
    right: 0px;
    color: white;
    display: flex;
    justify-content: space-around;
    padding-top: 1em;
}

.inspire_footer,.learning_footer,.kindness_footer {
    font-size: 1.5em;
    font-weight: 900;
}

.navigation_bot {
    color: white;
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 20px 0;
}

.navigation_bot a{
    text-decoration: none;
    color: white;
    padding: 10px;
}

.navigation_bot a:hover {
    color: black;
    background-color: white;
    margin-top: 3px;
    border-radius: 5px; 
    
}

footer p {
    font-size: .75em;
    text-align: center;
}