html,body {
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Roboto', sans-serif;
    background-color: #0466C8;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

h1 {
    margin-left: 1%;
}

.menu {
    top: 0;
    left: 0;
    overflow: hidden;
    background-color: #0466C8;
    width: 98%;
}

.logo {
    float: left;
}

.navigation a{
    float: right;
    text-decoration: none;
    padding: 5px;
    color: white;
    box-shadow: 5px 5px 1px 1px black;
    border: 1px black solid;
    margin-left: 5px;
    margin-top: 10px;
    margin-right: 5px;
    border-radius: 5px;
    font-weight: 800;
    background-color: #023E7D;
}

.navigation a:hover {
    color: black;
    background-color: white;
    border-radius: 5px; 
}

.service_grid, .about_services  {
    text-align: center;
}

.service_list {
    list-style-position: inside;
    text-align: left;
    margin-left: 0 auto;
}



.about_services {
    background-color: #023E7D;
    margin: 5% auto;
    width: 400px;
    box-shadow: 5px 5px 5px 5px black;
    border: 1px black solid;
}

.service_grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 50px;   
}

.lifecoach_container, .fitness_container, .techtutor_container {
    background-color: #023E7D;
    height: 300px;
    margin: auto 50px;
    border-radius: 5px;
    border: 1px black solid;
    box-shadow: 5px 5px 5px 5px black;
    color: white;
    text-align: center;
    list-style-type: square;
}

.far, .fas {
    font-size: 4em;
    color: white;
    margin: 5%;
}

.form_page {
    background-color: #0466C8; 
    padding-bottom: 4em;
    padding-top: 1em;

}

form {
    line-height: 27px;
    overflow: hidden;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: #023E7D;
    margin: 0 10%;
    border-radius: 5px;
    box-shadow: 5px 5px 5px 5px black;
    border: 1px black solid;
    text-align: center;
}

.form_label, .form_input, .form_box {
    min-height: 15px;
}

.form_input {
    width: 250px;
}
.form_page h2 {
    text-align: center;
}

.form_container input[type="text"],.form_container input[type="email"], .form_box {
   color: white;
   background-color: #023E7D;
   border: 2px white solid;
}

.menu_footer {
    width: 100%;
    bottom: 0px;
    left: 0px;
    right: 0px;
    color: white;
    display: flex;
    justify-content: space-around;
    padding-top: 1em;
}

.inspire_footer,.learning_footer,.kindness_footer {
    font-size: 1.5em;
    font-weight: 900;
    text-shadow: 1px 1px black, 
                2px 2px black,
                3px 3px black;
}

.navigation_bot {
    color: white;
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 20px 0;
}

.navigation_bot a{
    float: right;
    text-decoration: none;
    padding: 10px;
    color: white;
    padding-left: 10px;
    box-shadow: 5px 5px 1px 1px black;
    border: 1px black solid;
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;
    border-radius: 5px;
    font-weight: 800;
    background-color: #023E7D;
}

.navigation_bot a:hover {
    color: black;
    background-color: white;
    border-radius: 5px; 
    
}

footer p {
    font-size: .75em;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .navigation, .navigation_bot {
        font-size: .5em;
    }

    .about_services{
        width: 350px;
        align-items: center;
        margin-bottom: 20%;
    }
    .menu_footer {
        font-size: .75em;
    }
    
    .form_box, .form_input {
        width: 17em;
    }
}

@media only screen and (max-width: 280px) {

    .about_services{
        width: 250px;
        align-items: center;
        margin-bottom: 20%;
    }

    .service_grid {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    .navigation, .navigation_bot {
        font-size: .35em;
    }

    .navigation a, .navigation_bot a {
        padding: 5px;
    }

    .menu_footer {
        font-size: .5em;
        
    }

    .form_box, .form_input {
        width: 15em;
    }

}
